body {
    background-image: url(2222.png);
    background-repeat:no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-color: rgb(0, 81, 255);
}

a {     text-decoration: none;
    font-size: 150%;}



h1{
    font-size: 400%;
bottom:10%;
left:43%;
position:fixed;
}
h2{ left:50px;
    bottom:15px;
    position:fixed;
}