
body {
    background-image: url(11111.jpg);
    background-repeat:no-repeat;
    -moz-background-size: 120%; /* Firefox 3.6+ */
    -webkit-background-size: 120%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 120%; /* Opera 9.6+ */
    background-size: 120%; /* Современные браузеры */
}
 

a { font-size: 150%;
    text-decoration: none;
    }

    h3{
    position:fixed;
    right:5%;
    top:3%;
    margin:auto;
    }
div{left:4%;
    font-size: 120%;
    left:10%;
    top:10%;
    margin:auto;
    color:azure;
     }
